* {
    font-family: 'Kulim Park', sans-serif;
}

body {
    background-color: antiquewhite;
    background-image: url("bookBackground4.jpeg");
    background-size: cover;
    background-blend-mode: color-burn;

    margin: 0;
}

#newBookContainer {
    width: 100%;
    text-align: center;

}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#newBookContainer button {
    font-size: 150%;
    margin: 15px auto;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
}
button#cancelbtn, button#saveBookbtn {
    display: inline-block;
    margin: 15px 30px;
}

button#cancelbtn {
    background-color: firebrick;
    opacity: 0.7;
}

#newBookContainer input {
    height: 27px;
    width: 150px;
}

#newBookForm {
    display: none;
    transition: 0.5s ease-in;
}

label {
    display: inline-block;
    margin: 10px 15px;
    width: 100px;
}

.prefixValues {
    font-style: italic;
    font-size: 80%;
}

#displayContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
    margin: 50px;
    justify-content: center;
    border: 35px solid darkslategray;
    border-radius: 15px;
    padding: 50px;
    min-width: 550px;
    background: rgba(250, 235, 215, 0.8);
}

button {
    display: block;
    outline: none;
}

button:after {
    outline: inset grey 2px;
}

h1,h2, h3, h4, h5, h6 {
    text-align: center;
    word-wrap: break-word;
    margin-right: 5px;
    margin-left: 5px;
}

h1 {
    font-size: 400%;
}

h2 {
    max-height: 85px;
    overflow: auto;
}

div.bookDetails {
    margin: 10px 20px;
    border: solid 5px dimgray;
    border-radius: 10px;
    min-height: 211px;
}

img {
    width: 100%;
    height: auto;
    margin: 0;
}

.displayContainer button {
    display: flex;
    margin: auto;
    padding: 0;
    max-width: 40px;
    border: none;
}

button.deletebtn, button.editbtn, button.readbtn {
    display: inline-block;
    background-color: antiquewhite;
    height: 40px;
    font-size: 100%;
}

button.deletebtn {
    float: right;
    margin-right: 30px;
}

button.editbtn, button.readbtn {
    background-color: lightyellow;
    margin-left: 30px;
    border: solid lightgrey 1px;
    padding: 5px 10px;
    max-width: 100px;
    border-radius: 5px;
}

button.editbtn:hover, button.readbtn:hover {
    text-decoration: underline;
}

button.editbtn {
    float: left;
}

button.readbtn {
    background-color: yellow;
    max-width: 200px;
    opacity: 0.7;
    position: absolute;
    left: 40%;
    margin: 0;
}

.errorDiv {
    margin: 15px;
    padding: 10px;
    background-color: yellow;
    font-size: 110%;
}

/* Scrollbar testing */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 1px;
    background-color: darkslategray;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

@media only screen and (max-width: 980px) {
    body {
        font-size: 200%;
    }
    h1 {
        font-size: 300%;
    }
    h2 {
        max-height: 150px;
    }
    button.editbtn, button.readbtn, button.deletebtn {
        font-size: 100%;
        height: 50px;
    }
    button.deletebtn {
        max-width: 50px;
    }
    label {
        width: 150px;
    }
}
