* {
    font-family: 'Kulim Park', sans-serif;
}

body {
    background-color: antiquewhite;
    margin: 0;
}

#newBookContainer {
    width: 100%;
    text-align: center;

}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#newBookContainer button {
    font-size: 150%;
    margin: 15px auto;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
}

#newBookContainer input {
    height: 20px;
    width: 150px;
}

#newBookForm {
    display: none;
    transition: 0.5s ease-in;
}

label {
    display: inline-block;
    margin: 10px 15px;
    width: 100px;
}

.prefixValues {
    font-style: italic;
    font-size: 80%;
}

#displayContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
    margin: 50px;
    justify-content: center;
    border: 35px solid darkslategray;
    border-radius: 15px;
    padding: 50px;
}

button {
    display: block;
}

h1,h2, h3, h4, h5, h6 {
    text-align: center;
    word-wrap: break-word;
    margin-right: 5px;
    margin-left: 5px;
}

h1 {
    font-size: 400%;
}

h2 {
    max-height: 85px;
    overflow: auto;
}

div.bookDetails {
    margin: 10px 20px;
    border: solid 5px dimgray;
    border-radius: 10px;
    min-height: 211px;
}

img {
    width: 100%;
    height: auto;
    margin: 0;
}

#displayContainer button {
    display: flex;
    margin: auto;
    padding: 0;
    max-width: 30px;
    border: none;
}
/* Scrollbar testing */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 1px;
    background-color: darkslategray;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}